/* common for all */
a {
    text-decoration: none !important;
    color: white !important;
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: red;
}

/* common for all ends*/


/* navbar */
.navbar-image {
    width: 230px;
    height: 100%;
}

.nav-item a:hover {
    color: orange !important;
}

/* navbar ends*/

/* footer  */



@media (max-width: 992px) {
    .footer-image img {
        width: 100% !important;
        height: 30px !important;
    }

    .responsive-text {
        font-size: 13px !important;
    }
}

/* footer  end*/